:root {
  --Tomato: hsl(4, 100%, 67%);

  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

button,
input,
textarea {
  font: inherit;
}

body {
  font-family: "Roboto";
}

.sucess {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding-block-start: 7rem;
  padding-inline: 1rem;
}

.sucess img {
  margin-block-end: 2rem;
}

.sucess h2 {
  color: var(--Dark-Slate-Grey);
}

.sucess p {
  margin-block-start: 2rem;
  color: var(--Charcoal-Grey);
}

.email-value {
  font-weight: 700;
  color: var(--Dark-Slate-Grey);
}

.sucess button {
  margin-block-start: 25vh;
  padding: 0.5rem 4rem;
  margin-block-end: 30px;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin-inline: auto;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.sucess button a {
  text-decoration: none;
  color: var(--White);
  font-size: 16px;
  font: inherit;
}

.sucess button:hover {
  background-color: var(--Tomato);
}

@media (min-width: 600px) {
  body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--Charcoal-Grey);
  }

  .sucess {
    background-color: var(--White);
    max-width: 400px;
    height: 100%;
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 30px;
  }

  .sucess img {
    margin-block-end: 0;
  }

  .sucess h2 {
    margin-block: 20px;
    width: 200px;
  }

  .sucess p {
    margin: 0 0 20px 0;
  }

  .sucess button {
    margin: 0;
  }
}
